body{ 
    margin: 0%;
    padding: 0%;
    background-image: url("/img/Fondo\ de\ los\ otros\ html.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: #34495E;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}

p {
    color: ghostwhite;
    text-shadow: 2px 2px 3px black;
}

.contenedor {
 
    box-sizing: content-box;
}