body {
    margin: 0%;
    padding: 0%;
    height: 99vh;
    width: 100vw;
}
.contenedor-principal{
    display: flex;
    text-align: center;
    height: 99vh;
    width: 100vw;
}

.contenedor-izquierdo{
    background-color: gainsboro;
    max-width: 25%;
    
}

.contenedor-perfil{
    padding: 1em;
    margin: 1em;
}

.redes-sociales{
    padding: 1em;
}

.menu a{
    display: block;
    margin: 1em;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
}

.menu a:hover {
    text-decoration: underline black;
    text-shadow: 3px 3px 3px ghostwhite;
}

.contenedor-link{
    max-width: 65%;
    max-height: 100vh;
}

.contenedor-link iframe {
    width: 75vw;
    height: 99.3vh;
    border: none;
    margin: 0%;
    
}

.contenedor-derecha img {
    width: 100vw;
    height: 100vh;
}

.copyright{
    background-color: rgba(190, 190, 190, 0.822);
    padding: 0.8em;
}


.typing-demo{
    color: beige;
    text-shadow: 2px 2px 2px black;
    z-index: 2;
    position: absolute;
    top: 25%;
    right: 35%;
    width: 22ch;
    animation: typing 3s steps(22), blink .5s forwards infinite;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}